/* c-button component */
.c-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  width: 7.875rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--brand-primary);
  span {
    color: var(--lighter);
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Barlow-Medium", sans-serif;
    text-align: center;
  }

  &:hover {
    background-color: var(--brand-primary-hover);
    transition-duration: 0.4s;
  }
}
/* END c-button component */