/* c-button component */
.c-button {
  // -webkit-appearance: button;
  // -moz-appearance: button;
  // appearance: button;
  -webkit-appearance: none;
  text-decoration: none;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  width: 7.875rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--brand-primary);
  span {
    color: var(--lighter);
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Barlow-Medium", sans-serif;
    text-align: center;
  }

  &:hover {
    background-color: var(--brand-primary-hover);
    transition-duration: 0.4s;
  }
}
/* END c-button component */