html body {
  background-color: var(--primary);
}
html body header {
  box-sizing: border-box;
  width: 100%;
  height: 4.75em;
  padding: 0 1.5em 0 1.15em;
  margin-bottom: 2em;
}
html body header .ch-right .lang-login .box-lang {
  margin-right: 1em;
}
html body header .ch-right .lang-login .box-lang .navbar {
  overflow: hidden;
}
html body header .ch-right .lang-login .box-lang .navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
html body header .ch-right .lang-login .box-lang .dropdown {
  float: left;
  overflow: hidden;
}
html body header .ch-right .lang-login .box-lang .dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0em 0em 0.5em 0em;
}
html body header .ch-right .lang-login .box-lang .dropdown-content {
  display: none;
  position: absolute;
  background-color: #dddddd;
  min-width: 33px;
  z-index: 1;
}
html body header .ch-right .lang-login .box-lang .dropdown-content a {
  float: none;
  color: black;
  padding: 0.5em;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}
html body header .ch-right .lang-login .box-lang .show {
  display: block;
}
html body header .ch-right .lang-login .box-login {
  margin-right: 1em;
  margin-bottom: 0.5em;
}
html body header .ch-right .lang-login .box-login span a {
  color: black;
}
html body h1 {
  font-size: 2.8em;
  font-family: "FiraSans-Bold", sans-serif;
  line-height: 1.2em;
}
html body h2 {
  font-family: "FiraSans-Regular", sans-serif;
  font-size: 1.875em;
  margin-bottom: 0.6em;
  line-height: 1.4em;
}
html body h3 {
  font-family: "FiraSans-Regular", sans-serif;
  font-size: 1.5em;
  font-style: italic;
}
html body #container {
  max-width: 90em;
  padding: 1.4em;
}
html body #container section.top-area {
  width: 60%;
}
html body #container section.body-area {
  width: 60%;
}
html body #container section.body-area > div p {
  font-family: "FiraSans-Light", sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #9b9b9b;
}
html body #container section.body-area > div img {
  width: 300px;
  height: 243px;
}
html body #container-100 {
  width: 100%;
  padding: 0em;
}
html body #container-100 section {
  width: 60%;
}
html body #container-100 section.body-area-2 {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}
html body #container-100 section.body-area-2 > div:first-child {
  padding: 0em;
  overflow: hidden;
  width: 50%;
  margin-right: 3em;
  display: flex;
  justify-content: flex-end;
}
html body #container-100 section.body-area-2 > div:last-child {
  margin-left: 3em;
  width: 27em;
}
html body #container-100 section.body-area-2 > div p {
  font-family: "FiraSans-Light", sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #9b9b9b;
}
html body #container-100 section.body-area-3 {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}
html body #container-100 section.body-area-3 .ch-copy,
html body #container-100 section.body-area-3 .ch-image {
  width: 50%;
}
html body #container-100 section.body-area-3 .ch-copy {
  margin-right: 4em;
}
html body #container-100 section.body-area-3 .ch-copy .ch-copy--container {
  width: 45%;
}
html body #container-100 section.body-area-3 .ch-copy .ch-copy--container p {
  font-family: "FiraSans-Light", sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #9b9b9b;
}
html body #container-100 section.body-area-3 .ch-image {
  margin-left: 4em;
  overflow: hidden;
}
html body #container,
html body #container-100 {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 3em;
}
html body #container section,
html body #container-100 section {
  margin: 0 auto;
  margin-bottom: 4em;
}
html body #container section h1,
html body #container-100 section h1 {
  text-align: center;
  margin-bottom: 0.7em;
}
html body #container section.body-area,
html body #container-100 section.body-area {
  display: flex;
  display: -webkit-flex;
}
html body #container section.body-area > div:first-child,
html body #container-100 section.body-area > div:first-child {
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 0em 1em 0em 1em;
}
html body #container section.quote,
html body #container-100 section.quote {
  text-align: center;
  min-height: 4em;
  width: 54%;
  margin-bottom: 2em;
}
html body #container section.quote .quote-img img,
html body #container-100 section.quote .quote-img img {
  width: 30px;
  height: 27px;
}
html body #container section.quote .quote-img img.rotate-180,
html body #container-100 section.quote .quote-img img.rotate-180 {
  transform: rotate(180deg);
}
html body #container section.quote .quote-text,
html body #container-100 section.quote .quote-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
html body #container section.cards,
html body #container-100 section.cards {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  width: 76%;
  margin-bottom: 1em;
}
html body footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 1.5em 0 1.15em;
}

@media only screen and (max-width: 1400px) and (min-width: 1366px) {
  html body #container section.cards {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 1365px) and (min-width: 769px) {
  html body #container section.cards {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 1080px) and (min-width: 1025px) {
  html body #container section.cards {
    width: 79%;
  }
}
@media only screen and (max-width: 1024px) {
  html body #container section.body-area {
    width: 73%;
  }
  html body #container section.cards {
    width: 74%;
  }
  html body #container-100 section.body-area-2 > div:last-child {
    margin-left: 2em;
    width: 25em;
  }
  html body #container-100 section.body-area-3 .ch-copy .ch-copy--container {
    width: 75%;
  }
}
@media only screen and (max-width: 1023px) {
  html body #container section.body-area {
    width: 93%;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 769px) {
  html body #container section.cards {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  html body #container section.cards {
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  html body header .ch-right {
    display: none;
  }
  html body #container {
    width: 100%;
    padding: 0.9em;
  }
  html body #container section {
    width: 100%;
  }
  html body #container section.top-area {
    width: 100%;
  }
  html body #container section.body-area {
    text-align: center;
    display: unset;
  }
  html body #container section.body-area > div {
    width: 100%;
  }
  html body #container section.body-area > div:first-child {
    margin-right: 0em;
    padding: 0em;
  }
  html body #container section.quote {
    width: 100%;
  }
  html body #container section.cards {
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  html body #container-100 section {
    display: flex;
    flex-direction: column;
  }
  html body #container-100 section.body-area-2 {
    text-align: center;
    flex-direction: column-reverse;
  }
  html body #container-100 section.body-area-2 > div:first-child {
    width: 94%;
    margin-right: 0em;
  }
  html body #container-100 section.body-area-2 > div:last-child {
    margin-left: 0em;
    margin-bottom: 2em;
    padding: 0em 1.6em;
    width: unset;
  }
  html body #container-100 section.body-area-3 {
    flex-direction: column;
  }
  html body #container-100 section.body-area-3 .ch-copy,
html body #container-100 section.body-area-3 .ch-image {
    width: 100%;
  }
  html body #container-100 section.body-area-3 .ch-copy {
    text-align: center;
    margin-right: 0;
    margin-bottom: 3em;
  }
  html body #container-100 section.body-area-3 .ch-copy .ch-copy--container {
    width: 100%;
    padding: 0em 1.6em;
  }
  html body #container-100 section.body-area-3 .ch-image {
    margin-left: 0;
    overflow: hidden;
    width: 88%;
    position: relative;
    left: 40px;
  }
}
/* Font-face */
@font-face {
  font-family: "FiraSans-Light";
  src: url("../fonts/FiraSans-Light.ttf") format("woff2"), url("../fonts/FiraSans-Light.ttf") format("woff");
}
@font-face {
  font-family: "FiraSans-Regular";
  src: url("../fonts/FiraSans-Regular.ttf") format("woff2"), url("../fonts/FiraSans-Regular.ttf") format("woff");
}
@font-face {
  font-family: "FiraSans-Medium";
  src: url("../fonts/FiraSans-Medium.ttf") format("woff2"), url("../fonts/FiraSans-Medium.ttf") format("woff");
}
@font-face {
  font-family: "FiraSans-SemiBold";
  src: url("../fonts/FiraSans-SemiBold.ttf") format("woff2"), url("../fonts/FiraSans-SemiBold.ttf") format("woff");
}
@font-face {
  font-family: "FiraSans-Bold";
  src: url("../fonts/FiraSans-Bold.ttf") format("woff2"), url("../fonts/FiraSans-Bold.ttf") format("woff");
}
@font-face {
  font-family: "FiraSans-ExtraBold";
  src: url("../fonts/FiraSans-ExtraBold.ttf") format("woff2"), url("../fonts/FiraSans-ExtraBold.ttf") format("woff");
}
/* END ont-face */
/* Web components */
.c-button {
  width: 8em;
}

.c-card .card-square {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  border: 1px solid #dadada;
  width: 15.75em;
  height: 13.75em;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 4px #ececec;
  padding: 1em 2em;
  margin-bottom: 0.9em;
  box-sizing: border-box;
}
.c-card .card-square img {
  width: 80px;
  height: 80px;
  margin-bottom: 0.6em;
}
.c-card .card-square .card-text {
  text-align: center;
}
.c-card .card-square .card-text .card-title {
  font-family: "FiraSans-Medium", sans-serif;
  font-size: 1.6em;
  margin-bottom: 0.6em;
}
.c-card .card-square .card-text .card-description {
  font-size: 0.9em;
}

@media only screen and (max-width: 1365px) and (min-width: 769px) {
  .c-card .card-square {
    width: 10.55em;
    height: 16.45em;
    padding: 1.3em 1.1em;
  }
}
@media only screen and (max-width: 768px) {
  .c-card {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
  }
  .c-card .card-square {
    width: 100%;
    height: auto;
    flex-direction: unset;
    padding: 1em 1.2em;
  }
  .c-card .card-square img {
    margin-bottom: 0;
    margin-right: 1em;
  }
  .c-card .card-square .card-text {
    text-align: left;
  }
}
#cookiesBox {
  box-shadow: 0px 0px 4px 0px #b2b2b2;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dadada;
  box-shadow: 0px 0px 3px 2px #ececec;
  border-radius: 8px;
  font-size: 0.9em;
  margin-bottom: 0;
  position: fixed;
  bottom: 1.5em;
  left: 1.5em;
  width: 38.5em;
  height: 20.5em;
  padding: 1.4em 1.4em 1.4em 2.4em;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  z-index: 1;
}
#cookiesBox .cookies-header {
  box-sizing: border-box;
  height: 2em;
}
#cookiesBox .cookies-header button {
  background-color: unset;
  border-width: 0;
  height: 0.7em;
  cursor: pointer;
  color: black;
  font-size: 2.6em;
  line-height: 0em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
}
#cookiesBox .coockies-body {
  height: 16.8em;
  padding-top: 0.9em;
}
#cookiesBox .coockies-body .col-img-cookie {
  margin-right: 2em;
}
#cookiesBox .coockies-body .col-img-cookie img {
  width: 74px;
  height: auto;
}
#cookiesBox .coockies-body p {
  font-family: "FiraSans-Regular", sans-serif;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #424242;
}
#cookiesBox .coockies-body p a {
  color: #424242;
}

@media only screen and (max-width: 590px) {
  #cookiesBox {
    border: 0em;
    box-shadow: unset;
    width: 100%;
    height: 22em;
    bottom: 0em;
    left: 0em;
    padding: 0em;
  }
  #cookiesBox .cookies-header {
    height: 2em;
    border-bottom: 1px solid #afafaf;
    padding: 2.4em 1em 1.2em;
  }
  #cookiesBox .cookies-header button {
    font-size: 3.2em;
    font-weight: 700;
  }
  #cookiesBox .coockies-body {
    padding: 1.4em 1.4em 3em 2.4em;
  }
  #cookiesBox .coockies-body .col-img-cookie {
    display: none;
  }
}
@media only screen and (max-width: 395px) {
  #cookiesBox {
    border: 0em;
    box-shadow: unset;
    width: 100%;
    height: 30em;
    bottom: 0em;
    left: 0em;
    padding: 0em;
  }
  #cookiesBox .coockies-body {
    height: 21.8em;
    padding: 1.4em 1.4em 2em 2.4em;
  }
}
/* END Web components */
/* Color variables */
:root {
  --primary: #ffffff;
  --secondary: #cccccc;
  --tertiary: #666666;
}

/* Reset Browsers styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END Reset Browsers styles */
/* Flexbox Classes */
.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-wrap_nowrap {
  flex-wrap: nowrap;
}

.flex-wrap_wrap {
  flex-wrap: wrap;
}

.flex-asis {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.flex-align-center {
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.inline-flex {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-justify-start {
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
}

.flex-align-start {
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
}

.flex-align-content-around {
  align-content: space-around;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-around;
}

.flex-align-stretch {
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
}

.flex-align-content-stretch {
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
}

.flex-align-baseline {
  align-items: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-align-end {
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
}

.flex-align-content-start {
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
}

.flex-align-content-end {
  align-content: flex-end;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
}

.flex-align-content-center {
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
}

.flex-align-content-between {
  align-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
}

/* END Flexbox Classes */
/* Grid System */
.row {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
}
.row.wrap {
  flex-wrap: wrap;
}

.col {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.col-1-lg {
  width: 8.3333333333 %;
}

.col-2-lg {
  width: 16.6666666667 %;
}

.col-3-lg {
  width: 25 %;
}

.col-4-lg {
  width: 33.3333333333 %;
}

.col-5-lg {
  width: 41.6666666667 %;
}

.col-6-lg {
  width: 50 %;
}

.col-7-lg {
  width: 58.3333333333 %;
}

.col-8-lg {
  width: 66.6666666667 %;
}

.col-9-lg {
  width: 75 %;
}

.col-10-lg {
  width: 83.3333333333 %;
}

.col-11-lg {
  width: 91.6666666667 %;
}

.col-12-lg {
  width: 100 %;
}