html body {
  background-color: var(--lighter);
}
html body h1 {
  font-size: 4em;
  font-family: "Barlow-Bold", sans-serif;
  line-height: 1.13;
  color: var(--darker);
}
html body h2 {
  font-family: "Barlow-Medium", sans-serif;
  font-size: 2em;
  margin-bottom: 0.6em;
  line-height: 1.25;
  color: var(--subtitle);
}
html body h3 {
  font-family: "Barlow-MediumItalic", sans-serif;
  font-size: 1.5em;
  line-height: 1.33;
}
html body header {
  box-sizing: border-box;
  width: 100%;
  height: 4.75em;
  padding: 0 1.5em 0 1.15em;
  margin-bottom: 2em;
}
html body header .c-menu-mobile {
  display: none;
}
html body header .ch-right .lang-login .box-lang {
  margin-right: 1em;
}
html body header .ch-right .lang-login .box-lang .navbar {
  overflow: hidden;
}
html body header .ch-right .lang-login .box-lang .navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown {
  float: left;
  overflow: hidden;
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0em 0em 0.5em 0em;
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  color: var(--darker);
  cursor: pointer;
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown .dropbtn .arrow {
  border: solid var(--darker);
  border-width: 0 0.094rem 0.094rem 0;
  display: inline-block;
  padding: 4px;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown .dropbtn .arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown .dropbtn .arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown .dropbtn .arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown .dropbtn .arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #dddddd;
  min-width: 33px;
  z-index: 1;
}
html body header .ch-right .lang-login .box-lang .navbar .dropdown-content a {
  float: none;
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  color: var(--darker);
  padding: 0.5em;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}
html body header .ch-right .lang-login .box-lang .navbar .show {
  display: block;
}
html body header .ch-right .lang-login .box-login {
  margin-right: 1em;
  margin-bottom: 0.5em;
}
html body header .ch-right .lang-login .box-login span a {
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary);
}
html body header .ch-right .ch-try {
  margin-bottom: 0.5em;
}
html body #container {
  max-width: 90em;
  padding: 1.4em;
}
html body #container .c-button {
  width: 10.125rem;
}
html body #container section.top-area {
  width: 75%;
}
html body #container section.body-area {
  width: 60%;
}
html body #container section.body-area > div p {
  font-family: "Barlow-Regular", sans-serif;
  font-size: 1.5em;
  line-height: 1.33;
  color: var(--scale--darker);
}
html body #container section.body-area > div img {
  width: 300px;
  height: 243px;
}
html body #container-100 {
  width: 100%;
  padding: 0em;
}
html body #container-100 section {
  width: 60%;
}
html body #container-100 section.body-area-2 {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}
html body #container-100 section.body-area-2 > div:first-child {
  padding: 0em;
  overflow: hidden;
  width: 50%;
  margin-right: 3em;
  display: flex;
  justify-content: flex-end;
}
html body #container-100 section.body-area-2 > div:last-child {
  margin-left: 3em;
  width: 27em;
}
html body #container-100 section.body-area-2 > div p {
  font-family: "Barlow-Regular", sans-serif;
  font-size: 1.5em;
  line-height: 1.33;
  color: var(--scale--darker);
}
html body #container-100 section.body-area-3 {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}
html body #container-100 section.body-area-3 .ch-copy,
html body #container-100 section.body-area-3 .ch-image {
  width: 50%;
}
html body #container-100 section.body-area-3 .ch-copy {
  margin-right: 4em;
}
html body #container-100 section.body-area-3 .ch-copy .ch-copy--container {
  width: 60%;
}
html body #container-100 section.body-area-3 .ch-copy .ch-copy--container p {
  font-family: "Barlow-Regular", sans-serif;
  font-size: 1.5em;
  line-height: 1.33;
  color: var(--scale--darker);
}
html body #container-100 section.body-area-3 .ch-image {
  margin-left: 4em;
  overflow: hidden;
}
html body #container,
html body #container-100 {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 3em;
}
html body #container section,
html body #container-100 section {
  margin: 0 auto;
  margin-bottom: 4em;
}
html body #container section h1,
html body #container-100 section h1 {
  text-align: center;
  margin-bottom: 0.7em;
}
html body #container section.body-area,
html body #container-100 section.body-area {
  display: flex;
  display: -webkit-flex;
}
html body #container section.body-area > div:first-child,
html body #container-100 section.body-area > div:first-child {
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 0em 1em 0em 1em;
}
html body #container section.quote,
html body #container-100 section.quote {
  text-align: center;
  min-height: 4em;
  width: 54%;
  margin-bottom: 2em;
}
html body #container section.quote .quote-img img,
html body #container-100 section.quote .quote-img img {
  width: 30px;
  height: 27px;
}
html body #container section.quote .quote-img img.rotate-180,
html body #container-100 section.quote .quote-img img.rotate-180 {
  transform: rotate(180deg);
}
html body #container section.quote .quote-text,
html body #container-100 section.quote .quote-text {
  width: auto;
}
html body #container section.cards,
html body #container-100 section.cards {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  width: 76%;
  margin-bottom: 1em;
}
html body footer {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  padding: 0 1.5em 0 1.15em;
  border-top: 1px solid var(--border-top);
  height: 4.5rem;
  margin-bottom: 0em;
}
html body footer .ch-right .box-lang-footer {
  margin-right: 2rem;
}
html body footer .ch-right .box-lang-footer .navbar {
  overflow: hidden;
}
html body footer .ch-right .box-lang-footer .navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
html body footer .ch-right .box-lang-footer .navbar .dropdown {
  float: left;
  overflow: hidden;
}
html body footer .ch-right .box-lang-footer .navbar .dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0em;
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  color: var(--darker);
  cursor: pointer;
}
html body footer .ch-right .box-lang-footer .navbar .dropdown .dropbtn .arrow {
  border: solid var(--darker);
  border-width: 0 0.094rem 0.094rem 0;
  display: inline-block;
  padding: 4px;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
html body footer .ch-right .box-lang-footer .navbar .dropdown .dropbtn .arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
html body footer .ch-right .box-lang-footer .navbar .dropdown .dropbtn .arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
html body footer .ch-right .box-lang-footer .navbar .dropdown .dropbtn .arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
html body footer .ch-right .box-lang-footer .navbar .dropdown .dropbtn .arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
html body footer .ch-right .box-lang-footer .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #dddddd;
  min-width: 33px;
  z-index: 1;
}
html body footer .ch-right .box-lang-footer .navbar .dropdown-content a {
  float: none;
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  color: var(--darker);
  padding: 0.5em;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}
html body footer .ch-right .box-lang-footer .navbar .show {
  display: block;
}
html body footer .ch-right .box-blog {
  margin-right: 1em;
}
html body footer .ch-right .box-blog span a {
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: var(--darker);
}
html body footer .ch-right .ch-try span a {
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: var(--darker);
}

/* Responsive Tablet & mobile */
@media only screen and (max-width: 1400px) and (min-width: 1266px) {
  html body #container section.cards {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 1265px) and (min-width: 769px) {
  html body #container section.cards {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 1080px) and (min-width: 1025px) {
  html body #container section.cards {
    width: 79%;
  }
}
@media only screen and (max-width: 1024px) {
  html body #container section.body-area {
    width: 73%;
  }
  html body #container section.cards {
    width: 74%;
  }
  html body #container-100 section.body-area-2 > div:last-child {
    margin-left: 2em;
    width: 23em;
  }
  html body #container-100 section.body-area-3 .ch-copy .ch-copy--container {
    width: 75%;
  }
}
@media only screen and (max-width: 1023px) {
  html body #container section.body-area {
    width: 93%;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 769px) {
  html body #container section.cards {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  html body h2 {
    font-size: 1.5em;
  }
  html body #container section.body-area > div p {
    font-size: 1rem;
  }
  html body #container-100 section.body-area-2 > div p {
    font-size: 1rem;
  }
  html body #container-100 section.body-area-3 .ch-copy .ch-copy--container p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 560px) {
  html body h1 {
    font-size: 3em;
  }
  html body #container section.cards {
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    flex-direction: column;
    width: 70%;
  }
  html body #container .c-button {
    width: 14.75rem;
  }
}
@media only screen and (max-width: 559px) {
  html body h1 {
    font-size: 2em;
  }
  html body #container section.cards {
    width: 100%;
  }
  html body #container .c-button {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  html body #container {
    width: 100%;
    padding: 0.9em;
  }
  html body #container section {
    width: 100%;
  }
  html body #container section.top-area {
    width: 100%;
  }
  html body #container section.body-area {
    text-align: center;
    display: unset;
  }
  html body #container section.body-area > div {
    width: 100%;
  }
  html body #container section.body-area > div:first-child {
    margin-right: 0em;
    padding: 0em;
  }
  html body #container section.quote {
    width: 100%;
  }
  html body #container section.cards {
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    flex-direction: column;
  }
  html body #container-100 section {
    display: flex;
    flex-direction: column;
  }
  html body #container-100 section.body-area-2 {
    text-align: center;
    flex-direction: column-reverse;
  }
  html body #container-100 section.body-area-2 > div:first-child {
    width: 94%;
    margin-right: 0em;
  }
  html body #container-100 section.body-area-2 > div:last-child {
    margin-left: 0em;
    margin-bottom: 2em;
    padding: 0em 1.6em;
    width: unset;
  }
  html body #container-100 section.body-area-3 {
    flex-direction: column;
  }
  html body #container-100 section.body-area-3 .ch-copy,
html body #container-100 section.body-area-3 .ch-image {
    width: 100%;
  }
  html body #container-100 section.body-area-3 .ch-copy {
    text-align: center;
    margin-right: 0;
    margin-bottom: 3em;
  }
  html body #container-100 section.body-area-3 .ch-copy .ch-copy--container {
    width: 100%;
    padding: 0em 1.6em;
  }
  html body #container-100 section.body-area-3 .ch-image {
    margin-left: 0;
    overflow: hidden;
    width: 88%;
    position: relative;
    left: 40px;
  }
}
@media only screen and (max-width: 559px) {
  html body header .ch-logo,
html body header .ch-right {
    display: none;
  }
  html body header .c-menu-mobile {
    display: block;
  }
  html body footer {
    padding-top: 1.4rem;
    height: 15rem;
    justify-content: unset;
    -ms-flex-pack: unset;
    -webkit-justify-content: unset;
    flex-direction: column;
  }
  html body footer .ch-right {
    flex-direction: column;
  }
  html body footer .ch-right .lang-login {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  html body footer .ch-right .lang-login .box-lang-footer {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
  html body footer .ch-right .box-blog {
    margin-right: 0em;
  }
  html body footer .ch-logo {
    margin-bottom: 2rem;
  }
}
/* Font-face */
@font-face {
  font-family: "Barlow-Regular";
  src: url("../fonts/Barlow-Regular.ttf") format("woff2"), url("../fonts/Barlow-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../fonts/Barlow-Bold.ttf") format("woff2"), url("../fonts/Barlow-Bold.ttf") format("woff");
}
@font-face {
  font-family: "Barlow-Medium";
  src: url("../fonts/Barlow-Medium.ttf") format("woff2"), url("../fonts/Barlow-Medium.ttf") format("woff");
}
@font-face {
  font-family: "Barlow-MediumItalic";
  src: url("../fonts/Barlow-MediumItalic.ttf") format("woff2"), url("../fonts/Barlow-MediumItalic.ttf") format("woff");
}
/* END ont-face */
/* Web components */
/* c-button component */
.c-button {
  width: 7.875rem;
  height: 2.5rem;
  border: 0px;
  border-radius: 1.5rem;
  background-color: var(--brand-primary);
  cursor: pointer;
}
.c-button span {
  color: var(--lighter);
  font-size: 1rem;
  line-height: 1rem;
  font-family: "Barlow-Medium", sans-serif;
  text-align: center;
}
.c-button:hover {
  background-color: var(--brand-primary-hover);
  transition-duration: 0.4s;
}

/* END c-button component */
/* c-card component */
.c-card {
  display: flex;
  display: -webkit-flex;
}
.c-card .card-square {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  border: 1px solid #dadada;
  width: 15.75em;
  min-height: 13.75em;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 4px #ececec;
  padding: 1em 2em;
  margin-bottom: 0.9em;
  box-sizing: border-box;
}
.c-card .card-square img {
  width: 80px;
  height: 80px;
  margin-bottom: 0.6em;
}
.c-card .card-square .card-text {
  text-align: center;
}
.c-card .card-square .card-text .card-title {
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--darker);
}
.c-card .card-square .card-text .card-description {
  font-family: "Barlow-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.33;
  color: var(--scale--darker);
}

@media only screen and (max-width: 1265px) and (min-width: 769px) {
  .c-card .card-square {
    width: 10.55em;
    min-height: 16em;
    height: auto;
    padding: 1.3em 1.1em;
  }
}
@media only screen and (max-width: 768px) {
  .c-card {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
  }
  .c-card .card-square {
    width: 100%;
    height: auto;
    min-height: unset;
    flex-direction: unset;
    padding: 1em 1.2em;
  }
  .c-card .card-square img {
    margin-bottom: 0;
    margin-right: 1em;
  }
  .c-card .card-square .card-text {
    text-align: left;
  }
  .c-card .card-square .card-text .card-title {
    font-size: 1rem;
  }
  .c-card .card-square .card-text .card-description {
    font-size: 1rem;
  }
}
/* END c-card component */
/* c-cookiesBox component */
#cookiesBox {
  box-shadow: 0 0 4px 0 #cfcfd0;
  box-sizing: border-box;
  background-color: var(--lighter);
  border-radius: 0.5rem;
  font-size: 0.9em;
  margin-bottom: 0;
  position: fixed;
  bottom: 1.5em;
  left: 1.5em;
  width: 26.5rem;
  height: 14.2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  z-index: 1;
}
#cookiesBox .cookies-header {
  box-sizing: border-box;
  height: 2rem;
}
#cookiesBox .cookies-header button {
  background-color: unset;
  border-width: 0;
  height: 0.8rem;
  cursor: pointer;
  color: var(--darker);
  font-size: 2rem;
  line-height: 0em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
}
#cookiesBox .coockies-body {
  height: 16.8em;
  padding-top: 0.9em;
}
#cookiesBox .coockies-body .col-img-cookie {
  margin-right: 1.2rem;
}
#cookiesBox .coockies-body .col-img-cookie img {
  width: 66px;
  height: 64px;
}
#cookiesBox .coockies-body p {
  font-family: "Barlow-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--subtitle);
}
#cookiesBox .coockies-body p a {
  color: var(--subtitle);
}

@media only screen and (max-width: 590px) {
  #cookiesBox {
    border: 0rem;
    box-shadow: unset;
    width: 100%;
    height: 17rem;
    bottom: 0em;
    left: 0rem;
    padding: 0rem;
  }
  #cookiesBox .cookies-header {
    height: 2em;
    border-bottom: 1px solid var(--scale--lighter);
    padding: 2.4rem 1rem 1.2rem;
  }
  #cookiesBox .cookies-header button {
    font-size: 3.2rem;
    font-weight: 700;
    height: 1.8rem;
  }
  #cookiesBox .coockies-body {
    padding: 1.4em 1.4em 3em 2.4em;
  }
  #cookiesBox .coockies-body .col-img-cookie {
    display: none;
  }
}
@media only screen and (max-width: 395px) {
  #cookiesBox {
    border: 0em;
    box-shadow: unset;
    width: 100%;
    height: 17rem;
    bottom: 0em;
    left: 0em;
    padding: 0em;
  }
  #cookiesBox .coockies-body {
    height: 21.8em;
    padding: 1.4em 1.4em 2em 2.4em;
  }
}
/* END c-cookiesBox component */
.c-menu-mobile {
  width: 100%;
  height: 4rem;
}
.c-menu-mobile .separate {
  border-bottom: 1px solid #d0d1d2;
  width: 100%;
  top: 4rem;
  left: 0rem;
  z-index: 6;
  position: fixed;
}
.c-menu-mobile .cmb-container {
  display: flex;
  display: -webkit-flex;
}
.c-menu-mobile .cmb-container input + label {
  position: fixed;
  top: 23px;
  height: 20px;
  width: 18px;
  z-index: 5;
}
.c-menu-mobile .cmb-container .logo-mobile {
  position: fixed;
  z-index: 4;
  width: 90%;
  height: 3.4rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.c-menu-mobile .cmb-container .logo-mobile img {
  width: 33px;
  height: 38px;
}
.c-menu-mobile .cmb-container input + label span {
  position: absolute;
  width: 130%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: var(--darker);
  transition: 0.3s;
}
.c-menu-mobile .cmb-container input + label span:first-child {
  top: 3px;
}
.c-menu-mobile .cmb-container input + label span:last-child {
  top: 16px;
}
.c-menu-mobile .cmb-container label:hover {
  cursor: pointer;
}
.c-menu-mobile .cmb-container input:checked + label span {
  opacity: 0;
  top: 50%;
  margin: 0;
}
.c-menu-mobile .cmb-container input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(45deg);
}
.c-menu-mobile .cmb-container input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-45deg);
}
.c-menu-mobile .cmb-container input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
.c-menu-mobile .cmb-container input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.3s;
}
.c-menu-mobile .cmb-container input ~ nav {
  background: var(--lighter);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 3;
  transition: 0.3s;
  transition-delay: 0.3s;
  overflow: hidden;
}
.c-menu-mobile .cmb-container input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 11%;
  left: 5%;
  right: 5%;
}
.c-menu-mobile .cmb-container input ~ nav > ul > li {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0s;
}
.c-menu-mobile .cmb-container input ~ nav > ul > li > a {
  text-decoration: none;
  color: var(--darker);
  font-family: "Barlow-Medium", sans-serif;
  font-size: 1rem;
  display: block;
  padding: 30px 12px;
}
.c-menu-mobile .cmb-container input ~ nav > ul > li .c-button {
  width: 100%;
  margin-top: 1.5rem;
}

/* END Web components */
/* Color variables */
:root {
  --primary: #112133;
  --brand-primary: #5bb99a;
  --brand-primary-hover: #309775;
  --brand-medium: #3f7bbf;
  --brand-light: #91cdff;
  --scale--darkest: #4b4d4e;
  --scale--darker: #6e7172;
  --scale: #929596;
  --scale-lighter: #c1c2c3;
  --scale--lighter: #b6b8b9;
  --scale--lightest: #dbdcdc;
  --darker: #000000;
  --lighter: #ffffff;
  --subtitle: #0c1110;
  --border-top: #e0e1e1;
  --states-sucess: #77e6a7;
  --states-warning: #ffc752;
  --states-danger: #ff6867;
  --interactive-primary-state-disabled: rgba(91, 185, 154, 0.48);
  --interactive-primary-state-hover: #329071;
  --interactive-link-state-disabled: rgba(63, 123, 191, 0.48);
  --interactive-link-state-hover: #2f5c8f;
  --interactive-link-state-active: #203d60;
  --interactive-secondary-state-disabled: rgba(182, 184, 185, 0.48);
  --interactive-secondary-state-hover: #8d8f90;
  --interactive-secondary-state-active: #646667;
  --interactive-primary-state-active: #1a674c;
}

/* END Color variables */
/* Reset Browsers styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END Reset Browsers styles */
/* Flexbox Classes */
.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-wrap_nowrap {
  flex-wrap: nowrap;
}

.flex-wrap_wrap {
  flex-wrap: wrap;
}

.flex-asis {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.flex-align-center {
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.inline-flex {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-justify-start {
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
}

.flex-align-start {
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
}

.flex-align-content-around {
  align-content: space-around;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-around;
}

.flex-align-stretch {
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
}

.flex-align-content-stretch {
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
}

.flex-align-baseline {
  align-items: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-align-end {
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
}

.flex-align-content-start {
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
}

.flex-align-content-end {
  align-content: flex-end;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
}

.flex-align-content-center {
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
}

.flex-align-content-between {
  align-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
}

/* END Flexbox Classes */
/* Grid System */
.row {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
}
.row.wrap {
  flex-wrap: wrap;
}

.col {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}