.c-card
    .card-square
        img(src="svg/microillustrations-vision.svg", alt="Vision 360")
        .card-text
            p.card-title Visión 360&#176;
            p.card-description Conoce el estado de tus proyectos y tareas de forma rápida y sencilla