.c-card
    .card-square
        img(src="svg/microillustrations-vision.svg", alt="")
        .card-text
            p.card-title Visión 360&#176;
            p.card-description Conoce el estado de tus proyectos y tareas de forma rápida y sencilla

.c-card
    .card-square
        img(src="svg/microillustrations-control.svg", alt="")
        .card-text
            p.card-title Todo bajo control
            p.card-description Accede a la inofrmación que realmente necesitas de la forma que quieres

.c-card
    .card-square
        img(src="svg/microillustrations-danger.svg", alt="")
        .card-text
            p.card-title Mejora tu eficacia
            p.card-description Gestiona bloqueos y dependencias

.c-card
    .card-square
        img(src="svg/microillustrations-stress.svg", alt="")
        .card-text
            p.card-title Gestiona sin estrés
            p.card-description Elimina la incertidumbre para poder así gestionar proyectos sin dolor