.c-card
    .card-square
        img(src="img/ico-card-01.png", alt="")
        .card-text
            p.card-title Visión 360&#176;
            p.card-description Conoce el estado de tus proyectos y tareas de forma rápida y sencilla