.c-card
    .card-square
        img(src="svg/microillustrations-vision.svg", alt="")
        .card-text
            p.card-title Visión 360&#176;
            p.card-description Observa que está pasando en tus proyectos de forma limpia y sencilla

.c-card
    .card-square
        img(src="svg/microillustrations-control.svg", alt="")
        .card-text
            p.card-title Ten todo bajo control
            p.card-description Accede rápidamente a la información que realmente necesitas de la forma que quieres

.c-card
    .card-square
        img(src="svg/microillustrations-danger.svg", alt="")
        .card-text
            p.card-title Mejora tu eficacia
            p.card-description Conoce el estado de tus proyectos, tareas y carga de tu equipo. Gestiona bloqueos y dependencias rápidamente

.c-card
    .card-square
        img(src="svg/microillustrations-stress.svg", alt="")
        .card-text
            p.card-title Gestiona sin estrés
            p.card-description Elimina la incertidumbre para poder así gestionar proyectos sin dolor