.c-card
    .card-square.flex.flex-column
        img.card.ico
        .card-text
            p.card-title Visión 360&#176;
            p.card-description Conoce el estado de tus proyectos y tareas de forma rápida y sencilla