.c-vertical-tabs
  .tab
    button#defaultOpen.tablinks(onclick="openContent(event, 'Terms')") Términos de servicio
    button.tablinks(onclick="openContent(event, 'Privacy')") Política de privacidad
    button.tablinks(onclick="openContent(event, 'Subscriber')") Términos del subscriptor
    button.tablinks(onclick="openContent(event, 'Cookies')") Cookies
  #Terms.tabcontent
    h2 Términos de Servicio y condiciones del Usuario de Chameleon
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam itaque, alias ab ipsum ad illum 
      strong facere nostrum
      | , nobis saepe quia libero. Ipsa sapiente debitis voluptatem laboriosam fugit minus veniam reprehenderit.Assumenda aliquid nostrum iste atque soluta, rerum adipisci maiores, laboriosam vel maxime impedit ratione modi veniam neque non. 
    p Rem illo iste recusandae iusto 
      strong soluta ipsum 
      | deserunt sit quam vel eum. Deserunt incidunt id saepe, eaque cupiditate aliquid dolorum, repudiandae dolor totam pariatur similique debitis et ipsum 
      strong praesentium 
      | facilis architecto tenetur. Nam voluptate a delectus sint minus saepe alias maiores quia.Iste veniam rem quasi voluptatibus vero sunt placeat unde cupiditate! Deserunt nihil aspernatur similique minima 
    p Velit nemo dolorem minus possimus at atque perspiciatis sequi nesciunt:
    ul 
      li Perspiciatis quibusdam suscipit nobis repellat provident ea molestiae.
      li In porro eligendi dolor at ducimus. Ratione eligendi, numquam ea in, repellat amet similique iure cupiditate dolorem consequatur dolore beatae magni qui.
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione unde aliquam iure nobis perspiciatis totam, obcaecati perferendis eligendi aliquid blanditiis? Recusandae maiores sunt in illo rem explicabo neque doloribus. Illo.
  #Privacy.tabcontent
    h2 Política de privacidad del servicio de Chameleon
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam itaque, alias ab ipsum ad illum 
      strong facere nostrum
      | , nobis saepe quia libero. Ipsa sapiente debitis voluptatem laboriosam fugit minus veniam reprehenderit.Assumenda aliquid nostrum iste atque soluta, rerum adipisci maiores, laboriosam vel maxime impedit ratione modi veniam neque non. 
    p Rem illo iste recusandae iusto 
      strong soluta ipsum 
      | deserunt sit quam vel eum. Deserunt incidunt id saepe, eaque cupiditate aliquid dolorum, repudiandae dolor totam pariatur similique debitis et ipsum 
      strong praesentium 
      | facilis architecto tenetur. Nam voluptate a delectus sint minus saepe alias maiores quia.Iste veniam rem quasi voluptatibus vero sunt placeat unde cupiditate! Deserunt nihil aspernatur similique minima 
    p Velit nemo dolorem minus possimus at atque perspiciatis sequi nesciunt, ab a, doloribus saepe sint.
  #Subscriber.tabcontent
    h2 Términos en la subscripción al servicio de Chameleon
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam itaque, alias ab ipsum ad illum 
      strong facere nostrum
      | , nobis saepe quia libero. Ipsa sapiente debitis voluptatem laboriosam fugit minus veniam reprehenderit.Assumenda aliquid nostrum iste atque soluta, rerum adipisci maiores, laboriosam vel maxime impedit ratione modi veniam neque non. 
    p Rem illo iste recusandae iusto 
      strong soluta ipsum 
      | deserunt sit quam vel eum. Deserunt incidunt id saepe, eaque cupiditate aliquid dolorum, repudiandae dolor totam pariatur similique debitis et ipsum 
      strong praesentium 
      | facilis architecto tenetur. Nam voluptate a delectus sint minus saepe alias maiores quia.Iste veniam rem quasi voluptatibus vero sunt placeat unde cupiditate! Deserunt nihil aspernatur similique minima 
    p Velit nemo dolorem minus possimus at atque perspiciatis sequi nesciunt, ab a, doloribus saepe sint.
  #Cookies.tabcontent
    h2 Uso y aceptación de Cookies del servicio de Chameleon
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam itaque, alias ab ipsum ad illum 
      strong facere nostrum
      | , nobis saepe quia libero. Ipsa sapiente debitis voluptatem laboriosam fugit minus veniam reprehenderit.Assumenda aliquid nostrum iste atque soluta, rerum adipisci maiores, laboriosam vel maxime impedit ratione modi veniam neque non. 
    p Rem illo iste recusandae iusto 
      strong soluta ipsum 
      | deserunt sit quam vel eum. Deserunt incidunt id saepe, eaque cupiditate aliquid dolorum, repudiandae dolor totam pariatur similique debitis et ipsum 
      strong praesentium 
      | facilis architecto tenetur. Nam voluptate a delectus sint minus saepe alias maiores quia.Iste veniam rem quasi voluptatibus vero sunt placeat unde cupiditate! Deserunt nihil aspernatur similique minima 
    p Velit nemo dolorem minus possimus at atque perspiciatis sequi nesciunt, ab a, doloribus saepe sint.