.c-vertical-tabs
    .tab
        button#defaultOpen.tablinks(onclick="openContent(event, 'London')") Términos de servicio
        button.tablinks(onclick="openContent(event, 'Paris')") Política de privacidad
        button.tablinks(onclick="openContent(event, 'Tokyo')") Términos del subscriptor
        button.tablinks(onclick="openContent(event, 'Tokyo')") Cookies
    #Terms.tabcontent
        h3 London
        p London is the capital city of England.
    #Privacy.tabcontent
        h3 Paris
        p Paris is the capital of France.
    #Subscriber.tabcontent
        h3 Tokyo
        p Tokyo is the capital of Japan.
    #Cookies.tabcontent
        h3 Tokyo
        p Tokyo is the capital of Japan.        