/* Component vertical-tabs */
.c-vertical-tabs {
  display: flex;
  width: 83%;
  * {
    box-sizing: border-box;
  }
  .tab {
    float: left;
    width: 15.75rem;
    margin-right: 7.5rem;
    button {
      display: block;
      background-color: unset;
      font-family: "Barlow-Medium", sans-serif;
      font-size: 1rem;
      color: var(--darker);
      padding: 1.125rem 0.625rem;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: var(--brand-primary-hover);
      }
      &.active {
        color: var(--brand-primary);
      }
    }
  }
  .tabcontent {
    float: left;
    width: 37rem;
    border-left: none;
    h2 {
      font-family: "Barlow-Bold", sans-serif;
      font-size: 2rem;
      line-height: 2.5rem;
      color: var(--darker);
    }
    p {
      font-family: "Barlow-Regular", sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
      color: var(--subtitle);
      strong {
        font-family: "Barlow-Bold", sans-serif;
      }
      a {
        text-decoration: none;
        color: var(--brand-primary);
        &:hover {
          text-decoration: underline;
          color: var(--interactive-primary-state-hover);
        }
      }
    }
    ul {list-style-type: disc;
      li {
        font-family: "Barlow-Regular", sans-serif;
        line-height: 1.5rem;
        margin-left: 1.8rem;
        &::marker {
          font-size: 0.6rem;

        }
      }
    }
  }
}
/* End Component vertical-tabs */
