/* Component vertical-tabs */
.c-vertical-tabs {
  display: flex;
  * {
    box-sizing: border-box;
  }
  h2 {
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--darker);
  }
  p {
    font-family: 'Barlow-Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: var(--subtitle);
    strong {
      font-family: 'Barlow-Bold', sans-serif;
    }
  }
  .tab {
    float: left;
    width: 15.75rem;
    margin-right: 7.5rem;
    button {
      display: block;
      background-color: unset;
      font-family: 'Barlow-Medium', sans-serif;
      font-size: 1rem;
      color: var(--darker);
      padding: 1.125rem 0.625rem;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: var(--brand-primary-hover);
      }
      &.active {
        color: var(--brand-primary);
      }
    }
  }
  .tabcontent {
    float: left;
    width: 37rem;
    border-left: none;

  }
}
/* End Component vertical-tabs */
