.c-menu-mobile
  .separate
  .cmb-container
    input#burger(type='checkbox')
    label(for='burger')
      span
      span
      span
    .logo-mobile
      img(src="img/logo-mobile.png" alt="Chameleon vision")
    nav
      ul
        li 
          a Idioma
        li.flex
          a ES
          a EN
        li 
          a Login