
<div class="vertical-tabs">
  <div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openContent(event, 'London')">Términos de servicio</button>
    <button class="tablinks" onclick="openContent(event, 'Paris')">Política de privacidad</button>
    <button class="tablinks" onclick="openContent(event, 'Tokyo')">Términos del subscriptor</button>
    <button class="tablinks" onclick="openContent(event, 'Tokyo')">Cookies</button>
  </div>
  <div class="tabcontent" id="Terms">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
  </div>
  <div class="tabcontent" id="Privacy">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
  </div>
  <div class="tabcontent" id="Subscriber">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>
  <div class="tabcontent" id="Cookies">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.        </p>
  </div>
</div>