doctype html
//-Cambiar texto de botón: Free Trial
//-Cambiar texto de c.card
//-Cambiar enlaces ../svg de c.card
//-Incluir enlace en el nav > ../index.html
html(lang='en')
  head
    style(stylesheet='').
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Chameleon - Visión 360º de tus proyectos
    link(href='../css/styles.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon' href='../favicon.png')
  body
    header.flex.flex-justify-between.flex-align-center
      .ch-logo
        a(href="index.html") 
          img(src="../svg/brand-logo-chameleon-header.svg" alt="Logo Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          .box-lang 
            .navbar
              .dropdown
                button.dropbtn(onclick='desp()')
                  | EN
                  i.arrow.down
                #myDropdown.dropdown-content
                  a(href="../index.html") ES
          .box-login 
            span
              a(href="https://app.chameleon.vision/") Login
        .ch-try
          include ../components/c-button/c-button.pug
      .c-menu-mobile
        .separate
        .cmb-container
          input#burger(type='checkbox')
          label(for='burger')
            span
            span
            span
          a(href="index.html") 
            .logo-mobile
              img(src="svg/brand-logo-chameleon-mobile.svg" alt="Logo Chameleon vision")
          nav
            ul
              li 
                a Idioma
              li.flex.flex-justify-center
                a(href="#").active EN
                a(href="../index.html") ES
              li 
                a(href="https://app.chameleon.vision/") Login
              li
                a(href="http://bit.ly/3eL2dgF").c-button
                    span Try Free               

    #container
      section.top-area.flex-column.flex-asis
        h1 The tool that gives you 360° vision of your projects
        include ../components/c-button/c-button.pug
      section.body-area
        .body-area_copy.flex-column
          h2 Quickly access your projects
          p See, at a glance, the global status with just one click, access historical data and anticipate future project management.
        .separate-blocks
        .body-area_img.flex.flex-justify-start
          img(src="../img/proyectos.png", alt="")
    
    #container-100
      #container
        section.body-area-2
          div
            img(src="../img/hitos.png", alt="")
          .separate-blocks            
          .flex-column
            h2 Visualize relevant information
            p Get information on your milestones, deliveries and global status of your tasks.

        section.body-area-3
          .ch-copy.flex.flex-justify-end
            .ch-copy--container
              h2 Identify and remove setbacks
              p Quickly resolve risks, blockages and dependencies.
          .separate-blocks
          .ch-image
            img(src="../img/dependencias.png", alt="")
      
    #container
      section.quote.flex.flex-justify-center
        .quote-img
          img(src="../img/ico-quote.png", alt="")
        .quote-text.flex.flex-align-end
          h3 Change the rules of the game, simplifying the way you manage projects
        .quote-img.flex.flex-align-end
          img.rotate-180(src="../img/ico-quote.png", alt="")
      section.cards.flex
        include ../components/c-card/c-card.pug
      .row
        .col-12.flex.flex-justify-center
          include ../components/c-button/c-button.pug
      
    footer
      .ch-logo
        img(src="svg/brand-logo-chameleon-footer.svg" alt="Logo Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          .box-lang-footer
            .navbar
              .dropdown
                button.dropbtn(onclick='despfooter()')
                  | EN
                  i.arrow.down
                #myDropdownFooter.dropdown-content
                  a ES
          .box-blog 
            span
              a(href="https://blog.chameleon.vision/") Blog
        .ch-try.flex.flex-align-center
            span
              a(href="terms.html") Terms and Conditions

include ../js/c-cookies-js.pug
include ../js/c-dropdown-js.pug