button#termsBtn Press me to render the modal
#myModal.c-modal
    .modal-content
        .modal-content_header
            p.c-modal-title Términos de servicio
            span.close ×
        .modal-content_body
            ul
                li uno
                li dos
                li tres