button#termsBtn Press me to render the modal
#myModal.c-modal
    .modal-content
        .modal-content_header
            .c-modal-title Términos y condiciones
            span.close ×
        .modal-content_body
            ul
                li uno
                li dos
                li tres