#termsBtn.flex-justify-between.flex-align-center(tabindex='0' role='button') 
  | Términos de servicio
  i.arrow.down
#myModal.c-modal
  .modal-content
    .separate
    .modal-content_header
      .c-modal-title Términos y condiciones
      span.close ×
    .modal-content_body
      ul
        li 
          a(href="#") Términos de servicio
        li
          a(href="#") Términos de servicio
        li
          a(href="#") Términos de servicio
