#termsBtn.flex.flex-justify-between.flex-align-center(tabindex='0' role='button') Términos de servicio
    i.arrow.down
#myModal.c-modal
    .modal-content
        .modal-content_header
            .c-modal-title Términos y condiciones
            span.close ×
        .modal-content_body
            ul
                li uno
                li dos
                li tres