doctype html
html(lang='en')
  head
    include components/head-content/head-content.pug
  body
    header.flex.flex-justify-between.flex-align-center
      .ch-logo
        img(src="" alt="Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          span ES
          span Login
        .ch.try
          include components/c-button/c-button.pug
    #container
      .top-area.flex-column.flex-asis
        h1 La herramienta que te permite tener una visión 360 de tus proyectos
        include components/c-button/c-button.pug
