doctype html
html(lang='en')
  head
    include components/head-content/head-content.pug
  body
    include components/c-cookies/c-cookies.pug
    header.flex.flex-justify-between.flex-align-center
      .ch-logo
        img(src="img/logo.png" alt="Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          .box-lang 
            .navbar
              .dropdown
                button.dropbtn(onclick='desp()')
                  | ES
                  i.arrow.down
                #myDropdown.dropdown-content
                  a EN
          .box-login 
            span
              a(href="#") Login
        .ch-try
          include components/c-button/c-button.pug
    #container
      section.top-area.flex-column.flex-asis
        h1 La herramienta que te permite tener una visión 360&#176 de tus proyectos
        include components/c-button/c-button.pug
      section.body-area
        div.flex-column
          h2 Conoce el estado de todos tus proyectos
          p Visualiza el estado global de todos tus proyectos. Obtén información del progreso, bloqueos y dependencias.
        div.flex.flex-justify-center
          img(src="img/proyectos.png", alt="")
    
    #container-100
      section.body-area-2
        div
          img(src="img/hitos.png", alt="")
        .flex-column
          h2 Visualiza la información relevante
          p Obtén información de tus hitos, entregas y estado global de las tareas de tus proyectos.

      section.body-area-3
        .ch-copy.flex.flex-justify-end
          .ch-copy--container
            h2 Identifica y elimina impedimentos
            p Resuelve rápidamente riesgos, bloqueos y dependencias en tus proyectos.
        .ch-image
          img(src="img/dependencias.png", alt="")
      
    #container
      section.quote.flex.flex-justify-center
        .quote-img
          img(src="img/ico-quote.png", alt="")
        .quote-text.flex.flex-align-end
          h3 Cambia las reglas del juego, simplificando tu forma de gestionar los proyectos      
        .quote-img.flex.flex-align-end
          img.rotate-180(src="img/ico-quote.png", alt="")
      section.cards.flex
        include components/c-card/c-card.pug
        include components/c-card/c-card.pug
        include components/c-card/c-card.pug
        include components/c-card/c-card.pug
      .row
        .col-12.flex.flex-justify-center
          include components/c-button/c-button.pug
      
    footer.flex.flex-justify-between.flex-align-center
      .ch-logo
        img(src="img/logo-footer.png" alt="Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          .box-lang 
            .navbar
              .dropdown
                button.dropbtn(onclick='desp()')
                  | ES
                  i.arrow.down
                #myDropdown
          span
            a(href="#") Blog
        .ch.try
          span
            a(href="#") Términos y condiciones

include js/c-cookies-js.pug
include js/c-dropdown-js.pug