doctype html
html(lang='en')
  head
    include components/head-content/head-content.pug
  body
    header.flex.flex-justify-between.flex-align-center
      .ch-logo
        img(src="img/logo.png" alt="Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          span ES
          span Login
        .ch.try
          include components/c-button/c-button.pug
    
    #container
      section.top-area.flex-column.flex-asis
        h1 La herramienta que te permite tener una visión 360 de tus proyectos
        include components/c-button/c-button.pug
      section.body-area
        div.flex-column
          h2 Conoce el estado de todos tus proyectos
          p Visualiza el estado global de todos tus proyectos. Obtén información del progreso, bloqueos y dependencias.
        div.flex.flex-justify-center
          img(src="https://dummyimage.com/300x270/ccc/fff", alt="")
    
    #container-100vw.layout--border-dashed
      section.body-area
        div.flex.flex-justify-center
          img(src="https://dummyimage.com/800x270/ccc/fff", alt="")       
        div.flex-column
          h2 Conoce el estado de todos tus proyectos
          p Visualiza el estado global de todos tus proyectos. Obtén información del progreso, bloqueos y dependencias.   
