doctype html
html(lang='en')
  head
    include components/head-content/head-content.pug
  body
    header.flex.flex-justify-between.flex-align-center
      a(href="index.html")
        .ch-logo
          img(src="svg/brand-logo-chameleon-header.svg" alt="Logo Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          .box-lang 
            .navbar
              .dropdown
                button.dropbtn(onclick='desp()')
                  | ES
                  i.arrow.down
                #myDropdown.dropdown-content
                  a EN
          .box-login 
            span
              a(href="https://app.chameleon.vision/") Login
        .ch-try
          include components/c-button/c-button.pug
      include components/c-menu-mobile/c-menu-mobile.pug

    .terms-header.flex.flex-align-center.flex-justify-center
      .wrapper
        h1 Términos y condiciones
    #container
      section.terms
        .row
          .col
            .terms-contents.flex.flex-justify-center
              include components/c-vertical-tabs/c-vertical-tabs.pug
    
    footer
      .ch-logo
        img(src="svg/brand-logo-chameleon-footer.svg" alt="Logo Chameleon vision")
      .ch-right.flex
        .lang-login.flex.flex-align-center
          .box-lang-footer
            .navbar
              .dropdown
                button.dropbtn(onclick='despfooter()')
                  | ES
                  i.arrow.down
                #myDropdownFooter.dropdown-content
                  a EN
          .box-blog 
            span
              a(href="https://blog.chameleon.vision/") Blog
        .ch-try.flex.flex-align-center
            span
              a(href="terms.html") Términos y condiciones

include js/c-cookies-js.pug
include js/c-dropdown-js.pug
include js/c-vertical-tabs-js.pug
include js/c-modal-js.pug