@charset "UTF-8";
html {
  body {
    font-family: "Roboto";
    background-color: var(--primary);
    header {
      box-sizing: border-box;
      width: 100%;
      height: 9.375em;
      padding: 0 1.5em 0 1.15em;
      margin-bottom: 2em;
    }
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.875em;
      margin-bottom: 0.6em;
    }
    h3 {
      font-size: 1.5em;
      font-style: italic;
    }
    header {
      height: 4.75em;
    }
    #container {
      max-width: 80em;
      padding: 1.4em;
    }
    #container-100vw {
      width: 100vw;
      padding: 0em;
      section {
        &.body-area-2 {
          display: flex;
          display: -webkit-flex;
          width: 100%;
          > div {
            &:first-child {
              padding: 0em;
              overflow: hidden;
              width: 50%;
              margin-right: 3em;
            }
            &:last-child {
              margin-left: 3em;
              width: 27em;
            }
          }
        }
        &.body-area-3 {
          display: flex;
          display: -webkit-flex;
          width: 100%;
          .ch-copy,
          .ch-image {
            width: 50%;
          }
          .ch-copy {
            margin-right: 2em;
            .ch-copy--container {
              width: 45%;
            }
          }
          .ch-image {
            margin-left: 2em;
            overflow: hidden;
          }
        }
      }
    }
    #container,
    #container-100vw {
      box-sizing: border-box;
      margin: 0 auto;
      margin-bottom: 3em;
      section {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 4em;
        h1 {
          text-align: center;
          margin-bottom: 0.7em;
        }
        &.body-area {
          display: flex;
          display: -webkit-flex;
          > div {
            &:first-child {
              margin-right: 2em;
              margin-bottom: 2em;
              padding: 0em 1em 0em 1em;
            }
          }
        }
        &.quote {
          text-align: center;
          min-height: 4em;
          width: 54%;
          margin-bottom: 2em;
          .quote-img {
            img {
              width: 30px;
              height: 27px;
              &.rotate-180 {
                transform: rotate(180deg);
              }
            }
          }
          .quote-text {
            width: fit-content;
          }
        }
        &.cards {
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          width: 87%;
          margin-bottom: 1em;
        }
      }
    }
    footer {
      height: fit-content;
      padding: 0 1.5em 0 1.15em;
    }
  }
  .layout--border-dashed {
    border: 1px dashed #c4c4c4;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 769px) {
  html {
    body {
      #container {
        width: 100%;
        section {
          width: 90%;
          &.quote {
            width: 71%;
          }
        }
      }
      #container-100vw {
        section {
          &.body-area-2 {
            > div {
              &:last-child {
                margin-left: 2em;
                width: 25em;
              }
            }
          }
          &.body-area-3 {
            .ch-copy {
              .ch-copy--container {
                width: 75%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    body {
      header {
        .ch-right {
          display: none;
        }
      }
      #container {
        width: 100%;
        padding: 0.9em;
        section {
          width: 100%;
          &.body-area {
            text-align: center;
            display: unset;
            > div {
              width: 100%;
              &:first-child {
                margin-right: 0em;
                padding: 0em;
              }
            }
          }
          &.quote {
            width: 100%;
          }
          &.cards {
            justify-content: space-between;
            -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            width: 100%;
          }
        }
      }
      #container-100vw {
        section {
          display: flex;
          flex-direction: column;
          -ms-flex-direction: column;
          -webkit-flex-direction: column;
          &.body-area-2 {
            text-align: center;
            flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            -webkit-flex-direction: column-reverse;
            > div {
              &:first-child {
                width: 94%;
                margin-right: 0em;
              }
              &:last-child {
                margin-left: 0em;
                margin-bottom: 2em;
                padding: 0em 1.6em;
                width: unset;
              }
            }
          }
          &.body-area-3 {
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            .ch-copy,
            .ch-image {
              width: 100%;
            }
            .ch-copy {
              text-align: center;
              margin-right: 0;
              margin-bottom: 3em;
              .ch-copy--container {
                width: 100%;
                padding: 0em 1.6em;
              }
            }
            .ch-image {
              margin-left: 0;
              overflow: hidden;
              width: 94%;
              position: relative;
              left: 40px;
            }
          }
        }
      }
    }
  }
}
@import "_fonts.scss";
@import "_components.scss";
@import "_color.scss";
@import "_reset.scss";
@import "_flexbox.scss";
@import "grid.scss";
@include grid;

// @media only screen and (max-width: 1280px) { }

// @media only screen and (max-width: 1024px) { }
