@charset "UTF-8";
html {
  body {
    h1 {
      font-family: "RobotoBold";
      font-size: 2.5em;
    }
    h2 {
      font-family: "Roboto";
      font-size: 1.875em;
    }
    .container{
      padding: 1.4em;
      background-color: var(--secondary);
      min-height: 25em;
      margin: 0 auto;
      max-width: 80em;
      min-width: 64em;
    }
    header {
      height: 4.75em;
    }
  }
}
@import "_fonts.scss";
@import "_components.scss";
@import "_color.scss";
@import "_reset.scss";
@import "_flexbox.scss";
@import 'grid.scss';
@include grid;


// @media only screen and (max-width: 1280px) { }

// @media only screen and (max-width: 1024px) { }

// @media only screen and (max-width: 460px) { }

