#cookiesBox.flex.flex-column
  .cookies-header.flex.flex-justify-end.flex-align-end
    button(onclick='acceptCookies()') ×
  .coockies-body.flex
    .col-img-cookie
      img(src="img/img-cookie.png", alt="")
    p Utilizamos cookies propias y de terceros para obtener datos estadísticos de la navegación de nuestros usuarios y mejorar nuestros servicios. Si acepta o continúa navegando, consideramos que acepta su uso. Puede cambiar la configuración u obtener más información 
      span 
        a(href='terms.html') aquí
  