#cookiesBox
  p
    | This website uses cookies, if you stay here you accept their use. You can read more about the use of cookies in our 
    a(href='politica.html') privacy policy
  button(onclick='acceptCookies()') ×