/* c-cookiesBox component */
#cookiesBox {
  box-shadow: 0 0 4px 0 #cfcfd0;
  box-sizing: border-box;
  background-color: var(--lighter);
  border-radius: 0.5rem;
  font-size: 0.9em;
  margin-bottom: 0;
  position: fixed;
  bottom: 1.5em;
  left: 1.5em;
  width: 26.5rem;
  height: 14.2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  z-index: 1;
  .cookies-header {
    box-sizing: border-box;
    height: 2rem;
    button {
      background-color: unset;
      border-width: 0;
      height: 0.8rem;
      cursor: pointer;
      color: var(--darker);
      font-size: 2rem;
      line-height: 0em;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 200;
    }
  }
  .coockies-body {
    height: 16.8em;
    padding-top: 0.9em;
    .col-img-cookie {
      margin-right: 1.2rem;
      img {
        width: 66px;
        height: 64px;
      }
    }

    p {
      font-family: 'Barlow-Regular', sans-serif;
      font-size: 1rem;
      line-height: 1.5em;
      color: var(--subtitle);
      a {
        color: var(--subtitle);
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  #cookiesBox {
    border: 0rem;
    box-shadow: unset;
    width: 100%;
    height: 17rem;
    bottom: 0em;
    left: 0rem;
    padding: 0rem;
    .cookies-header {
      height: 2em;
      border-bottom: 1px solid var(--scale--lighter);
      padding: 2.4rem 1rem 1.2rem;
      button {
        font-size: 3.2rem;
        font-weight: 700;
        height: 1.8rem;
      }
    }
    .coockies-body {
      padding: 1.5em 1rem;
      .col-img-cookie {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 395px) {
  #cookiesBox {
    border: 0em;
    box-shadow: unset;
    width: 100%;
    height: 19rem;
    bottom: 0em;
    left: 0em;
    padding: 0em;
    .coockies-body {
      height: 21.8em;
      padding: 1.5em 1rem;
    }
  }
}
/* END c-cookiesBox component */